.footer {
  display: flex;
  width: 90vw;
  flex-wrap: wrap;
  height: 15vh;
  min-height: 50px;
  align-items: center;
  justify-content: space-between;

  &__resources {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: auto;
  }

  &__resourceItem {
    color: var(--primaryColour);
    margin: 0 2em;
    padding: 0.5em 0;
    // min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: left;
    cursor: pointer;
    position: relative;
    font-size: calc(1.5rem + 0.3vw);
    font-weight: 100;
    text-decoration: none;
  }

  &__resourceItem::after {
    content: "";
    position: absolute;
    background: var(--primaryColour);
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 400ms ease-in;
  }

  &__resourceItem:hover::after, &__resourceItem:focus::after {
    transform-origin: left;
    transform: scaleX(1);
  }

  &__formInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1em 1em 1em 0;

  }

  &__input {
    font-size: inherit;
    padding: 0.5em;
    border: none;
    border-bottom: 2px rgba($color: #303030, $alpha: 0.7) solid;
    // border-radius: 0.2em;
    min-width: 200px;
    outline: none;

    &:hover {
      border-bottom: 2px rgba($color: #502c2c, $alpha: 0.4) solid;
    }

    &:focus {
      border-bottom: 2px rgba($color: #e27373, $alpha: 0.7) solid;
      outline: none;
    }
  }

  &__copyright {
    display: flex;
    min-width: 200px;
    align-items: center;
    justify-content: center;
    color: var(--primaryColour);
    opacity: 0.7;
  }
  
}

@media screen and (max-width: 999px) {

  .footer {
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;

    &__resources {
      flex-direction: column;
      margin: auto;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  
    &__resourceItem {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 2em;
    }
  
    &__formInput {
      flex-direction: column;
      // align-items: center;
    }

    &__copyright {
      padding: 2em;
    }

    &__input {
      padding: 0.5em;
      text-align: center;
    }
  }


}
